<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Length Conversions</title>
    <link rel="stylesheet" href="../Scripts/bootstrap.css" />
    <link rel="stylesheet" href="../Scripts/team-egg-style.css" />
</head>
<body>
    
        <nav class="container navbar navbar-expand-lg navbar-light background-grey">
            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">     
                    <li class="nav-item col">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="length.html">Length</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="DigitalStorageConversion.html">Digital Storage</a>
                    </li>
                    <li class="nav-item active col">
                        <a class="nav-link" href="cooking.html">Cooking<span class="sr-only background-light-blue">(current)</span></a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="VolumeConv.html">Volume</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="TempConv.html">Temperature</a>
                    </li>
                </ul>
            </div>
        </nav>
        
    <div id="app">
        <p>
            <div class="container converter">
                <div class="row">
                    <div class="col-md-5">
                        <div class="font-header">
                            Tablespoons
                        </div>
                        <div class="input-box">
                            <input v-model="teaspoons" v-on:input="convertToTablespoons" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="font-header">
                            Teaspoons
                        </div>
                        <div class="input-box">
                            <input v-model="tablespoons" v-on:input="convertToTeaspoons" />
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </div>
</body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            tablespoons: 0,
            teaspoons: 0
        },
        methods: {
            convertToTablespoons: function () {
                this.tablespoons = parseFloat(this.teaspoons) * parseFloat(3);
            },
            convertToTeaspoons: function () {
                this.teaspoons = parseFloat(this.tablespoons) / parseFloat(3);
            }
        }
    })
</script>