<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Length Conversions</title>
    <link rel="stylesheet" href="../Scripts/bootstrap.css" />
    <link rel="stylesheet" href="../Scripts/team-egg-style.css" />
    <style>
            .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
         }
    </style>
</head>
<body>
        <h1 class="background-black banner-top font-banner center"><font color=#88bbd6><center><br>Professional and Accurate Conversions</center></font></h1>        

    <div id="app">
        <nav class="container navbar navbar-expand-lg navbar-light background-grey">
            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item col">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item active col">
                        <a class="nav-link" href="length.html">Length<span class="sr-only background-light-blue">(current)</span></a>
                    </li>
                    <li class="nav-item col-lg">
                        <a class="nav-link" href="DigitalStorageConversion.html">Digital Storage</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="CookingConversion.html">Cooking</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="VolumeConv.html">Volume</a>
                    </li>

                    <li class="nav-item col">
                        <a class="nav-link" href="TempConv.html">Temperature</a>
                    </li>
                </ul>
            </div>
        </nav>
        <p>
            <div class="container converter">
                <div class="row">
                    <div class="col-md-5">
                        <div class="input-column">
                            <div class="font-header">
                                Feet
                            </div>
                            <div class="input-box">
                                <input v-model="feet" v-on:input="convertToY" />
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2">
                            <br>=
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-column">

                            <div class="font-header">
                                Yards
                            </div>
                            <div class="input-box">
                                <input v-model="yards" v-on:input="convertToF" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-bottom"></div>
        </p>
    </div>
</body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            feet: 0,
            yards: 0
        },
        methods: {
            convertToY: function () {
                this.yards = parseFloat(this.feet) / parseFloat(3);
            },
            convertToF: function () {
                this.feet = parseFloat(this.yards) * parseFloat(3);
            }
        }
    })
</script>