<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Temperature Conversion</title>
    <link rel="stylesheet" href="../Scripts/bootstrap.css" />
    <link rel="stylesheet" href="../Scripts/team-egg-style.css" />
    <style>
            .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
         }
    </style>
</head>
<body>
        <h1 class="background-black banner-top font-banner center"><font color=#88bbd6><center><br>Professional and Accurate Conversions</center></font></h1>        

    <nav class="container navbar navbar-expand-lg navbar-light background-grey">
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item col">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="length.html">Length</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="DigitalStorageConversion.html">Digital Storage</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="CookingConversion.html">Cooking</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link" href="VolumeConv.html">Volume</a>
                </li>
                <li class="nav-item col active">
                    <a class="nav-link" href="TempConv.html">Temperature<span class="sr-only background-light-blue">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="app">
        <p>
            <div class="container converter">
                <div class="row">
                    <div class="col-md-5">
                        <div class="font-header">
                            Celsius
                        </div>
                        <div class="input-box">
                            <input v-model="C" v-on:input="convertToF" />
                        </div>
                    </div>
                    <div class="col-md-2">
                            <br>=
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="font-header">
                            Fahrenheit
                        </div>
                        <div class="input-box">
                            <input v-model="F" v-on:input="convertToC" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-bottom"></div>
        </p>
    </div>
</body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            C: 0,
            F: 0
        },
        methods: {
            convertToC: function () {
                this.C = (parseFloat(this.F) - 32.0) * (5.0/9.0);
            },
            convertToF: function () {
                this.F = parseFloat(this.C) * 9.0/5.0 + 32.0;
            }
        }
    })
</script>